<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Needle Exchange Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="" id="map">

    </div>
    <script type="text/javascript">
    function makeMap(lat, lng) {
      lat = lat || 37.765
      lng = lng || -122.42
      var mapOptions = {
        center: new google.maps.LatLng(lat, lng),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      $.get("/locations", function(data) {
        console.log(data);
        data.forEach(function(location) {
          // map.setCenter(results[0].geometry.location);
          var image = {
            url: "https://68.media.tumblr.com/08815ef78ff0dc07bf671d7dc25f2428/tumblr_ovgx0j0zXk1v497yzo1_75sq.png",
            // size: new google.maps.Size(64, 64),
            // origin: new google.maps.Point(0, 0),
            // anchor: new google.maps.Point(128, 128)
          }
          var marker = new google.maps.Marker({
            map: map,
            position: {lat: parseFloat(location.lat), lng: parseFloat(location.lng)},
            icon: image
          });

          var contentString = location.name + "<br>" + location.address + "<br>";



          location.description ? contentString += location.description + "<br>" : 0;
          location.link ? contentString += location.link + "<br>" : 0;
          location.phone_number ? contentString += location.phone_number + "<br>" : 0;
          contentString += location.day + "<br>" + location.time + "<br>";

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
          // google.maps.event.addListener(map, 'click', infowindow.close());
          // marker.addListener('blur', function() {
          //   infowindow.close();
          // });
          });
        })
      }

      // Include Google Maps script with env variables
      var GOOGLE_API_KEY = $.get("/welcome/1", function(googleApiKey) {
        var JSLink = "https://maps.googleapis.com/maps/api/js?key=" + googleApiKey.GoogleAPIKey + "&callback=makeMap";
        var JSElement = document.createElement('script');
        JSElement.src = JSLink;
        document.getElementsByTagName('head')[0].appendChild(JSElement);
      })
    </script>
    <style media="screen">
    #map {
      height: 100%;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </body>
</html>
