<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Needle Exchange Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="" id="map">
    </div>
    <script type="text/javascript">
    mobile = navigator.userAgent.indexOf('iPhone') != -1 || navigator.userAgent.indexOf('Android') != -1
    DAYSOFWEEK = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    SERVICES = ["Needle Exchange", "Naloxone Kits", "HIV Testing and Counseling",	"Hep C Testing",	"Drug Treatment", "Support and Counseling",	"General Medical Clinic", "Case Management Services", "Wound care", "Food Banks",	"Sack Lunch",	"Hot Meals", "Showers", "Laundry Housing", "Homeless Support", "Speciality in Sex worker support", "Speciality in Transgender support", "Speciality LGBTQ+ services", "Speciality in HIV Services", "Crisis Intervention", "Herbal/Acupuncture Services"]
    CITIES = [
      { name: "SF",
        center: {
          lat: mobile ? 37.77 : 37.765,
          lng: mobile ? -122.44 : -122.42,
        }, zoom: 13 },
      { name: "East Bay",
        center: {
          lat: mobile ? 37.85 : 37.87,
          lng: mobile ? -122.25 : -122.2,
        }, zoom: 12 },
      { name: "NY",
        center: {
          lat: mobile ? 43 : 43,
          lng: mobile ? -76 : -76,
        }, zoom: 7 }
    ];
    dayButtons = [];
    cityButtons = [];
    markers = [];
    infoWindows = [];
    availabilities = []
    dayOfWeek = new Date().getDay();

    function makeMap(lat, lng) {
      lat = mobile ? 37.77 : 37.765
      lng = mobile ? -122.44 : -122.42
      var mapOptions = {
        center: new google.maps.LatLng(lat, lng),
        zoom: mobile ? 13 : 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      // Add day filter buttons at top of screen
      dayOfWeekInt = new Date().getDay();
      var selected;
      DAYSOFWEEK.forEach(function(day, dayIndex) {
        var dayDiv = document.createElement('div');
        selected = dayIndex == dayOfWeekInt
        var dayControl = new DayButton(dayDiv, map, day, selected);

        dayDiv.index = dayIndex;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(dayDiv);
      })
      // Add locations controls at bottom of screen
      CITIES.forEach(function(city, cityIndex) {
        var cityDiv = document.createElement('div');
        var cityControl = new CityButton(cityDiv, map, city)
        map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(cityDiv)
      })

      addMarkers(map);
    }

    function hideAllMarkers() {
      markers.forEach(function(marker) {
        marker.setVisible(false);
      })
      infoWindows.forEach(function(infoWindow) {
        infoWindow.close();
      })
    }

    function showApplicableMarkers() {
      markers.forEach(function(marker, locationIndex) {
        for (var i = 0; i < 7; i++) {
          if (dayButtons[i].style.backgroundColor == "darkgray" && availabilities[locationIndex][i]) {
            marker.setVisible(true)
          }
        }
      })
    }

    function formatAMPM(date) {
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? '0'+minutes : minutes;
      var strTime = hours + ':' + minutes + ampm;
      return strTime;
    }

    function addMarkers(map) {
      $.get("/locations", function(data) {
        console.log(data.filter(function(location) {
          if (location.lat && location.lng) {
            return true;
          }
        }));
        data.forEach(function(location, locationIndex) {
          // map.setCenter(results[0].geometry.location);
          var sizeOfIcons = mobile ? new google.maps.Size(96, 96) : new google.maps.Size(48, 48)
          var image = {
            url: "https://68.media.tumblr.com/08815ef78ff0dc07bf671d7dc25f2428/tumblr_ovgx0j0zXk1v497yzo1_75sq.png",
            scaledSize: sizeOfIcons,
            // size: new google.maps.Size(64, 64),
            // origin: new google.maps.Point(0, 0),
            // anchor: new google.maps.Point(0, 128)
          }
          var marker = new google.maps.Marker({
            map: map,
            position: {lat: parseFloat(location.lat), lng: parseFloat(location.lng)},
            icon: image
          });

          if(location.phone_number) {
            var firstThreeDigits = location.phone_number.slice(0,3)
            var secondThreeDigits = location.phone_number.slice(3,6)
            var lastFourDigits = location.phone_number.slice(6,10)
            var phone_number = "(" + firstThreeDigits + ") " + secondThreeDigits + "-" + lastFourDigits;

            var phone_number_link = '<a href="tel:+1-' + firstThreeDigits + "-" + secondThreeDigits + "-" + lastFourDigits + '">' + phone_number + '</a>'
          } else {
            var phone_number_link = "";
          }

          var contentString = "<h3>" + location.name + "</h3>" + location.address.split(",")[0] + "<br>";

          secondHalfOfAddress = location.address.split(",")
          secondHalfOfAddress.shift()
          contentString += secondHalfOfAddress.join() + "<br>";
          location.description ? contentString += location.description + "<br>" : 0;
          location.link ? contentString += '<a href="' + location.link + '" target="_blank">Website</a>' + "<br>" : 0;
          contentString += phone_number_link + "<br><br>";

          services_string = location.services;

          if (services_string.indexOf("1") !== -1) {
            contentString += "<strong>Services: </strong><br>"
            for (var i = 0; i < services_string.length; i++) {
              if (services_string[i] == "1") {
                contentString += SERVICES[i] + '<br>'
              }
            }
            contentString += "<br>";
          }

          contentString += "<strong>Hours:</strong><br>";

          opening_times = [location.sun_open, location.mon_open, location.tues_open, location.wed_open, location.thurs_open, location.fri_open, location.sat_open]
          closing_times = [location.sun_close, location.mon_close, location.tues_close, location.wed_close, location.thurs_close, location.fri_close, location.sat_close]

          availability = []
          DAYSOFWEEK.forEach(function(day, dayIndex) {
            if (dayOfWeek == dayIndex) {
              contentString += "<strong>"
            }
            contentString += "<div class='availability'><div class='day_of_week'>" + day + ":</div>"

            opening = opening_times[dayIndex]
            closing = closing_times[dayIndex]

            if (!opening || !closing) {
              contentString += "<div class='hours'> Closed</div></div>";
              availability[dayIndex] = false;
            } else if (opening == closing) {
              contentString += "<div class='hours'> 24 hours</div></div>";
              availability[dayIndex] = true;
            } else {
              var openingTimeString = formatAMPM(new Date(opening));
              var closingTimeString = formatAMPM(new Date(closing));
              contentString += "<div class='hours'> " + openingTimeString + "-" + closingTimeString + "</div></div>";
              availability[dayIndex] = true;
            }
            if (dayOfWeek == dayIndex) {
              contentString += "</strong>"
            }
          })

          var gMapsLinkBase = "https://www.google.com/maps/place/" + location.address.split("+");
          contentString += '<br><a href="' + gMapsLinkBase + '" target="_blank">View on Google Maps</a><br>';

          contentString = "<div class='" + (mobile ? 'infoWindowContentMobile' : 'infoWindowContent') + "'>" + contentString + "</div>"

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
            // An attempt at making the "close" button larger for mobile.  Image didn't resize to its outside width.
            // if (mobile) {
              // $("#map > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > img")
            // }
          });
          // google.maps.event.addListener(map, 'click', infowindow.close());
          map.addListener('click', function() {
            infowindow.close();
          });
          markers.push(marker)
          infoWindows.push(infowindow)
          availabilities.push(availability)
        });
        hideAllMarkers()
        showApplicableMarkers()
      })
    }

      // Include Google Maps script with env variables
      var GOOGLE_API_KEY = $.get("/welcome/1", function(googleApiKey) {
        var JSLink = "https://maps.googleapis.com/maps/api/js?key=" + googleApiKey.GoogleAPIKey + "&callback=makeMap";
        var JSElement = document.createElement('script');
        JSElement.src = JSLink;
        document.getElementsByTagName('head')[0].appendChild(JSElement);
      })

// CityButton Constructor
function CityButton(cityDiv, map, city) {
  // Set CSS for the control border.
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
  controlUI.style.cursor = 'pointer';
  controlUI.style.marginBottom = '22px';
  controlUI.style.textAlign = 'center';
  controlUI.style.width = mobile ? '200px' : '100px';
  // controlUI.title = 'Click to show c';
  cityDiv.appendChild(controlUI);

  // Set CSS for the control interior.
  var controlText = document.createElement('div');
  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = mobile ? '24px' : '16px';
  controlText.style.lineHeight = mobile ? '57px' : '38px';
  controlText.style.paddingLeft = '5px';
  controlText.style.paddingRight = '5px';
  controlText.innerHTML = city.name;
  controlUI.appendChild(controlText);

  // Setup the click event listeners: simply set the map to Chicago.
  controlUI.addEventListener('click', function() {
    map.setCenter(city.center)
    map.setZoom(city.zoom)
    // var currentColor = controlUI.style.backgroundColor
    // controlUI.style.backgroundColor = currentColor == "rgb(255, 255, 255)" ? "darkgray" : "rgb(255, 255, 255)";
  });
  cityButtons.push(controlUI)
}

// DayButton Constructor
      function DayButton(controlDiv, map, day, selected) {
        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = selected ? "darkgray" : '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        // controlUI.title = 'Click to show c';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = mobile ? '24px' : '16px';
        controlText.style.lineHeight = mobile ? '57px' : '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = day;
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          var currentColor = controlUI.style.backgroundColor
          controlUI.style.backgroundColor = currentColor == "rgb(255, 255, 255)" ? "darkgray" : "rgb(255, 255, 255)";
          hideAllMarkers()
          showApplicableMarkers()
        });
        dayButtons.push(controlUI)
      }
    </script>
    <style media="screen">
    .infoWindowContentMobile {
      font-size: 32px;
    }

    .infoWindowContentMobile .day_of_week {
      width: 200px;
    }

    .day_of_week, .hours {
      display: inline-block;
    }

    .infoWindowContent .day_of_week {
      width: 80px;
    }

    #map {
      height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    </style>
  </body>
</html>
