<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Needle Exchange Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="" id="map">
    </div>
    <style media="screen">
    .infoWindowContentMobile {
      font-size: 32px;
    }

    .infoWindowContentMobile .day_of_week {
      width: 200px;
    }

    .day_of_week, .hours {
      display: inline-block;
    }

    .infoWindowContent .day_of_week {
      width: 80px;
    }

    #map {
      height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    </style>
  </body>
</html>
