<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>What is Needle-X?</h2>
    Needle-X is a website and smartphone app designed to help people locate needle exchanges and other essential services for those who need access to clean hypodermic needles for any reason. Currently we are only operational in the San Francisco Bay Area, but we plan on spreading to New York City and Los Angeles in the near future. Our eventual goal is a decentralized model where anyone can create a directory of services for their city.
    <br>
    <br>
    We are not-for-profit and seeking Creative Commons licensing, meaning that our product will be free to use and open-source for the benefit of all. All user data is 100% anonymous, and we will never use your use data without your explicit permission.
    <h2>Why is Needle-X important?</h2>
    The opioid drug epidemic has been affecting. Overprescription of opioid painkillers such as oxycontin (partially due to <a href='http://www.policymed.com/2017/10/class-action-suits-over-opioid-epidemic-ramping-up.html' target='blank'>pharmaceutical companies pushing for opioid overprescription</a>) created a wave of drug use that is then being filled by cheaper illegal drugs such as heroin and fentanyl, and use patterns transitioning from oral to nasal and injection drug use.
    <br>
    <br>
    While previous drug use trends showed highest use in urban centers, recent trends have shown opioid addiction reaching suburban and even rural communities. This is the beginning of a crisis with a current absence of resources that are easily and publicly available in larger cities. When resources are more sparsely distributed, technology provides a natural way to fill in the gap and improve access, which Needle-X hopes to serve.
    <br>
    <br>
    Needle-X is being developed in major metropolitan ideas for initial testing and proof-of-concept, but will then be spread into suburban communities in order to maximise resource utilization and access.
    <h2>What other services does Needle-X offer?</h2>
    We hope that Needle-X can also help connect patients with naloxone kits (to prevent overdoses on opiate drugs), disease testing services, free medical clinics, PrEP, family planning/pregnancy care, fentanyl testing strips, and drug addiction treatment. We are excited to connect users to as many services as possible, and are always looking for new ideas and suggestions from you.
    <br>
    <br>
    We are also working to implement public health research tools through the app, so that the app users can help us improve services and create a better healthcare system.
    <h2>Why is needle exchange important?</h2>
    When using a syringe for injection, reuse of non-sterile needles can cause multiple types of disease. Reusing the same needle multiple times or injecting in a non-sterile way can cause bacterial infections that can infect skin, muscle, joints, or even the heart, and can be permanently disabling or cause death. In addition, people who share needles between different users can spread viral diseases such as
    <a href='https://www.cdc.gov/hepatitis/hbv/bfaq.htm' target='blank'>
      Hepatitis B
    </a>
    ,
    <a href='https://www.cdc.gov/hepatitis/hcv/pdfs/factsheet-pwid.pdf' target='blank'>
      Hepatitis C
    </a>
    , or
    <a href='https://www.cdc.gov/hiv/risk/idu.html' target='blank'>
      HIV
    </a>
    , which can be incurable or lethal.
    <br>
    <br>
    Instead of reusing the same needle over and over again, there are many programs run by a variety of organizations to help people who need syringes to get clean, sterile syringes.
    <h2>Aren’t needles in the community (in public parks, on beaches, etc.) a problem?</h2>
    Disposing of needles is difficult to do, since these locations are not well-advertised. Many pharmacies and healthcare providers offer this service, but no one knows about it! We hope to increase utilization of the many free and under-advertised public health services available all over.
    <br>
    <br>
    Helping needle users connect with ways to dispose of needles safely and responsibly was in fact the original inspiration for this program, and we believe strongly in helping.
    <h2>What is Harm Reduction?</h2>
    Harm Reduction is the principle in public health, policy, and ethics stating that the purpose of public health officials isn’t to force people to stop unhealthy behaviors, but instead to freely offer services that can reduce the harm associated with that behavior. Harm Reduction is based in evidence and has been proven all around the globe, and is slowly gaining popularity in the United States. Read more about it
    <a href='https://en.wikipedia.org/wiki/Harm_reduction' target='blank'>
      here.
    </a>
    <h2>How do I add a location that I don’t see listed, or send a correction of incorrect information?</h2>
    We’d love to check it out--please send us an email at <a href='mailto:help@needle-x.com'>help@needle-x.com</a> with the organization name, address, and website (if there is one).
    <h2>How can I get involved?</h2>
    Needle-X is successful because of the help and goodwill of volunteers on every level. We are always looking for more individual and institutional partners.
    <br>
    <br>
    Always feel free to reach out to us at <a href='mailto:help@needle-x.com'>help@needle-x.com</a>. We welcome suggestions and collaborators!
  </body>
  <style media="screen">
    h2 {
      text-align: center;
    }
  </style>
</html>
