<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Locations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="statusWindow">
      <div class="">
        Locations on table below (wait until this matches the number of locations on the google spreadsheets): <div id="locationCount">0</div>
      </div>
      <br>
      Start here: This will update the database based on the spreadsheet.  This will not geolocate the locations, so they will NOT show on the map until you "Geolocate"<br>
      <button type="button" name="button" onclick="updateFromSpreadsheet()">Update Data from Spreadsheet</button>
      <div class="statusWindow hidden">
        Status: <div id="status"></div>
      </div>
      <br>
      This will get the latitude/longitude for each location, so they can show on the map.<br>
      <button type="button" name="button" onclick="saveData()">Geolocate Locations</button>
      <div class="geolocatedLocationsWindow hidden">
        Geolocated Locations: <div id="geo-count">
        </div>
        Locations in the spreadsheet that haven't been geolocated (should be zero after geolocation): <div id="non-geolocated">

        </div>
      </div>
    </div>
    <table id="table">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Link</th>
        <th>Phone Number</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Services</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </table>
    <style media="screen">
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td {
        height: 20px;
      }
      table {
        width: 100%;
        margin-top: 30px;
      }
      .hidden {
        visibility: hidden;
      }
    </style>
  </body>
</html>
