<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Locations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>
    <!-- <div class="" id="table"> -->
      <table id="table">
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Name</th>
          <th>Address</th>
          <th>Description</th>
          <th>Link</th>
          <th>Phone Number</th>
        </tr>
      </table>
    <!-- </div> -->
    <button type="button" name="button" onclick="addRow()">Add Row</button>
    <button type="button" name="button" onclick="saveData()">Save Data</button>
    <script type="text/javascript">
      function addRow(data) {
        data = data || {
          day: "",
          time: "",
          name: "",
          address: "",
          description: "",
          link: "",
          phoneNumber: "",
        }
        $("table").append(
          "<tr class='rowOfData'><td>"
            + data.day + "</td><td>"
            + data.time + "</td><td>"
            + data.name + "</td><td>"
            + data.address + "</td><td>"
            + data.description + "</td><td>"
            + data.link + "</td><td>"
            + data.phone_number + "</td></tr>"
        )
        // makeEditable()
        $('table').editableTableWidget();
      }

    </script>

    <script type="text/javascript">
      function getData() {
        $.get("/locations", function(data) {
          data.forEach(function(location) {
            if (location.day || location.time || location.name || location.address || location.address || location.description || location.link || location.phoneNumber) {
              addRow(location)
            }
          })
        })
      }
      getData();

      // Include Google Maps script with env variables
      var GOOGLE_API_KEY = $.get("/welcome/1", function(googleApiKey) {
        var JSLink = "https://maps.googleapis.com/maps/api/js?key=" + googleApiKey.GoogleAPIKey;
        var JSElement = document.createElement('script');
        JSElement.src = JSLink;
        document.getElementsByTagName('head')[0].appendChild(JSElement);
      })

      function getFormData() {
        locations = [];
        var location = {};
        $(".rowOfData").each(function(index, row) {
          location = {};
          location["day"] = row.cells[0].innerHTML;
          location["time"] = row.cells[1].innerHTML;
          location["name"] = row.cells[2].innerHTML;
          location["address"] = row.cells[3].innerHTML;
          location["description"] = row.cells[4].innerHTML;
          location["link"] = row.cells[5].innerHTML;
          location["phone_number"] = row.cells[6].innerHTML;
          locations.push(location)
        })
        return locations
      }

      var getDatabaseLocations = new Promise(function(resolve, reject) {
        $.get("/locations", function(oldLocations) {
          resolve(oldLocations)
        })
      })

      function setLatAndLngForExistingLocations(newLocations, oldLocations) {
        newLocations.forEach(function(newLocation) {
          // console.log();
          sameLocation = oldLocations.filter(function(oldLocation) {
            return oldLocation["address"] == newLocation["address"]
          })
          if (sameLocation.length > 0) {
            newLocation["lat"] = sameLocation[0]["lat"]
            newLocation["lng"] = sameLocation[0]["lng"]
          }
        })
      }

      function saveData() {
        newLocations = getFormData()
        getDatabaseLocations.then(function(oldLocations) {
          setLatAndLngForExistingLocations(newLocations, oldLocations)
          $.ajax({
            // contentType: "application/json",
            type: "DELETE",
            url: "/locations/1",
            // data: location,
            success: function(res) {
              // console.log(res);
              geocoder = new google.maps.Geocoder();
              newLocations.forEach(function(newLocation, location_index) {
                setTimeout(function() {
                  if (!newLocation["lat"] || !newLocation["lng"]) {
                    console.log("GEOLOCATING");
                    // console.log(location);
                    geocoder.geocode( { 'address': newLocation.address}, function(results, status) {
                      console.log(status);
                      if (status == "OK") {
                        newLocation["lat"] = results[0].geometry.location.lat;
                        newLocation["lng"] = results[0].geometry.location.lng;
                        postLocation(newLocation)
                      } else if (status == "OVER_QUERY_LIMIT"){
                        console.log("I tried to save it too fast and got an error...");
                      } else if (status == "ZERO_RESULTS"){
                        console.log("I couldn't find this address: " + newLocation.address);
                      } else {
                        console.log("Sorry, random error with this address: " + newLocation.address);
                      }
                    })
                  } else {
                    postLocation(newLocation)
                  }
                }, 300 * location_index)
              })
            },
            error: function(e) {
              console.log(e);
            }
          })
        })
      }
      function postLocation(location) {
        $.ajax({
          type: "POST",
          url: "/locations",
          data: {location: location},
          success: function(res) {
            // console.log(res);
          },
          error: function(e) {
            // console.log(e);
          }
        })
      }
    </script>
    <script type="text/javascript">
    /*global $, window*/
    makeEditable()
    function makeEditable() {
      $.fn.editableTableWidget = function (options) {
        'use strict';
        return $(this).each(function () {
          var buildDefaultOptions = function () {
              var opts = $.extend({}, $.fn.editableTableWidget.defaultOptions);
              opts.editor = opts.editor.clone();
              return opts;
            },
            activeOptions = $.extend(buildDefaultOptions(), options),
            ARROW_LEFT = 37, ARROW_UP = 38, ARROW_RIGHT = 39, ARROW_DOWN = 40, ENTER = 13, ESC = 27, TAB = 9,
            element = $(this),
            editor = activeOptions.editor.css('position', 'absolute').hide().appendTo(element.parent()),
            active,
            showEditor = function (select) {
              active = element.find('td:focus');
              if (active.length) {
                editor.val(active.text())
                  .removeClass('error')
                  .show()
                  .offset(active.offset())
                  .css(active.css(activeOptions.cloneProperties))
                  .width(active.width())
                  .height(active.height())
                  .focus();
                if (select) {
                  editor.select();
                }
              }
            },
            setActiveText = function () {
              var text = editor.val(),
                evt = $.Event('change'),
                originalContent;
              if (active.text() === text || editor.hasClass('error')) {
                return true;
              }
              originalContent = active.html();
              active.text(text).trigger(evt, text);
              if (evt.result === false) {
                active.html(originalContent);
              }
            },
            movement = function (element, keycode) {
              if (keycode === ARROW_RIGHT) {
                return element.next('td');
              } else if (keycode === ARROW_LEFT) {
                return element.prev('td');
              } else if (keycode === ARROW_UP) {
                return element.parent().prev().children().eq(element.index());
              } else if (keycode === ARROW_DOWN) {
                return element.parent().next().children().eq(element.index());
              }
              return [];
            };
          editor.blur(function () {
            setActiveText();
            editor.hide();
          }).keydown(function (e) {
            if (e.which === ENTER) {
              setActiveText();
              editor.hide();
              active.focus();
              e.preventDefault();
              e.stopPropagation();
            } else if (e.which === ESC) {
              editor.val(active.text());
              e.preventDefault();
              e.stopPropagation();
              editor.hide();
              active.focus();
            } else if (e.which === TAB) {
              active.focus();
            } else if (this.selectionEnd - this.selectionStart === this.value.length) {
              var possibleMove = movement(active, e.which);
              if (possibleMove.length > 0) {
                possibleMove.focus();
                e.preventDefault();
                e.stopPropagation();
              }
            }
          })
          .on('input paste', function () {
            var evt = $.Event('validate');
            active.trigger(evt, editor.val());
            if (evt.result === false) {
              editor.addClass('error');
            } else {
              editor.removeClass('error');
            }
          });
          element.on('click keypress dblclick', showEditor)
          .css('cursor', 'pointer')
          .keydown(function (e) {
            var prevent = true,
              possibleMove = movement($(e.target), e.which);
            if (possibleMove.length > 0) {
              possibleMove.focus();
            } else if (e.which === ENTER) {
              showEditor(false);
            } else if (e.which === 17 || e.which === 91 || e.which === 93) {
              showEditor(true);
              prevent = false;
            } else {
              prevent = false;
            }
            if (prevent) {
              e.stopPropagation();
              e.preventDefault();
            }
          });

          element.find('td').prop('tabindex', 1);

          $(window).on('resize', function () {
            if (editor.is(':visible')) {
              editor.offset(active.offset())
              .width(active.width())
              .height(active.height());
            }
          });
        });

      };
      $.fn.editableTableWidget.defaultOptions = {
        cloneProperties: ['padding', 'padding-top', 'padding-bottom', 'padding-left', 'padding-right',
                  'text-align', 'font', 'font-size', 'font-family', 'font-weight',
                  'border', 'border-top', 'border-bottom', 'border-left', 'border-right'],
        editor: $('<input>')
      };
    }
    </script>
    <script type="text/javascript">
    $('table').editableTableWidget();
    </script>
    <style media="screen">
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td {
        height: 20px;
      }
      table {
        width: 100%
      }
    </style>
  </body>
</html>
